@model Make_Orders.Models.Items

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Items</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemsName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemsName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.order.OrdersID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ItemsID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
