@model IEnumerable<Make_Orders.Models.Items>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.order.OrdersID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemsID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemsID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
